<!DOCTYPE html>
<html>

    <head>
      <title>Paul Walsh</title>
      <link> <% stylesheet_link_tag 'player.scss' %> </link>
      <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    </head>

    <body>
  <div id="head">
    <h1>Paul Walsh</h1>
    <p>I'm a classically trained rock musician, self-taught audio engineer and I'm currently transitioning into a web-developer career.</p>
<!-- start building audio player -->
  </div>

    <h1>Original Recordings</h1>

    <h1>Soundcloud</h1>
      <iframe id="soundcloud-box" width="80%" height="450" scrolling="no" frameborder="yes" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/1198477&amp;visual=false&amp;color=990000&amp;auto_play=false&amp;hide_related=true&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>

    </body>

</html>
