

  #soundcloud-box:hover, #soundcloud-box:focus, #soundcloud-box:active
  {

  box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);

  transform: scale(1.05);
  }


  #soundcloud-box
  {

  transition:all 0.5s linear;

  box-shadow: 2px 2px 4px 0px #006773;

  border-radius:7px 7px 7px 7px ;
  }
